img {
    width: 150px;
   display: block;
    margin-left: auto;
    margin-right: auto;
}

.notsequel {
     width: 300px;
    height: auto;
    background-color: grey;
    font-size: 16px;
    border: solid 1px black;
    padding: 20px;
    font-family: montserrat;
}

.notsequel:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

.moviecard {
    width: 300px;
    height: auto;
    background-color: beige;
    font-size: 16px;
    border: solid 1px black;
    margin: 20px;
    padding: 20px;
    font-family: montserrat;
}

.moviecard:hover {
    transform: scale(1.2);
    transition: 0.3s;
}